.heading-1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.my-class {
  border: 2px solid black;
  background-color: burlywood;
  padding: 10px;

}

.my-class {
  float: left;
  padding: 10px;
}