body {
  background-color: cornflowerblue;
}


.heading-1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.sidebar-1 {
  border: 2px solid black;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: burlywood;
  text-align: center;
  padding: 10px;
  float: inline-start;
  width: 80%;

}

.sidebar-2 {
  float: right;
  background-color: blanchedalmond;
  border: 2px solid black;
  padding: 10px;
  width: 20%;
  height: auto;
}

a {
  line-height: 1px;
}