body {
  background-color: cornflowerblue;
}


.heading-1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.my-class {
  border: 2px solid black;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: burlywood;
  padding: 10px;
  float: left;

}

.my-class-2 {
  float: left;
  border: solid black;
}

.photo-1 {
  float: left;
  width: 25%;
  margin: auto;
  height: auto;
}